body{
    font-family: 'IBM Plex Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
    text-align: center;
}


#content {
    text-align: justify;
    margin: 0 auto;
    background: #e7e7e7;
    color: #05030be6;
    padding: 4px;
    letter-spacing: 0.5px;
    font-weight: medium;
    line-height: 1.7;
}

@media only screen and (max-width: 899px){
    #content{
	width: 95vw;
    }    
}

@media only screen and (min-width: 900px){
    #content{
	width: 900px;
    }    
}
